/* [project]/public/assets/css/style.css [app-client] (css) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  overflow-y: scroll;
}

*, :before, :after {
  box-sizing: border-box;
}

body {
  background: #fff;
  line-height: 1;
  padding: 0 !important;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: none;
}

a img {
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

select {
  max-width: 100%;
}

body, button, input, select, textarea {
  color: #696969;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: Space Grotesk, sans-serif;
  overflow: hidden auto;
}

img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

p {
  color: #696969;
  font-family: Space Grotesk, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

strong, b, cite {
  font-weight: bold;
}

dfn, cite, em, i, blockquote {
  font-style: italic;
}

abbr, acronym {
  cursor: help;
  border-bottom: 1px dotted #e0e0e0;
}

.btn-link:focus, .btn-link:hover, mark, ins {
  text-decoration: none;
}

sup, sub {
  vertical-align: baseline;
  height: 0;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

address {
  margin: 0 0 20px;
  font-style: italic;
}

code, kbd, tt, var, samp, pre {
  -webkit-hyphens: none;
  hyphens: none;
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  height: auto;
  margin: 20px 0;
  padding: 4px 12px;
  overflow-x: auto;
}

svg, svg path {
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

html, *, :before, :after {
  box-sizing: border-box;
}

hr {
  border: 1px dashed #ccc;
  margin-bottom: 20px;
}

ul, ol {
  padding: 0;
}

ul {
  list-style: outside;
}

ol {
  list-style: decimal;
}

li > ul, li > ol {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul li, ol li {
  padding: 0;
}

dl, dd {
  margin: 0 0 20px;
}

dt {
  font-weight: bold;
}

del, .disable {
  filter: alpha(opacity= 50);
  opacity: .5;
  text-decoration: line-through;
}

table, th, td {
  border: 1px solid #343444;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  border-width: 1px 0 0 1px;
  width: 100%;
  margin: 0 0 30px;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: bold;
}

td {
  border-width: 0 1px 1px 0;
}

th, td {
  padding: 8px 12px;
}

embed, object, video {
  vertical-align: middle;
  max-width: 100%;
  margin-bottom: 20px;
}

p > embed, p > iframe, p > object, p > video {
  margin-bottom: 0;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  line-height: inherit;
  vertical-align: baseline;
  margin: 0;
}

input, textarea, select {
  background: #fff;
  max-width: 100%;
  font-size: 14px;
}

textarea {
  vertical-align: top;
  overflow: auto;
}

input[type="checkbox"] {
  display: inline;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  border: 0;
  line-height: 1;
}

input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
  vertical-align: sub;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #f7f7f7;
}

input[type="search"] {
  outline: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]::-webkit-search-results-button {
  display: none;
}

input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

fieldset {
  width: 100%;
  margin-bottom: 0;
}

select {
  appearance: none;
}

.select {
  position: relative;
  overflow: hidden;
}

.select:after {
  content: "";
  color: #6844ed;
  pointer-events: none;
  -o-transition: .25s all ease;
  background: none;
  font-family: icomoon;
  font-size: 12px;
  font-weight: 400;
  transition: all .25s;
  display: block;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}

select {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #696969;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  outline: 0;
  width: 100%;
  height: 60px;
  padding: 20px 30px;
  font-family: Space Grotesk, sans-serif;
  font-size: 16px;
  line-height: 11px;
}

select option {
  color: #696969;
  background-color: #fff;
  padding: 20px 30px;
  font-size: 16px;
  line-height: 11px;
}

select.style-1 option, select.style-1 {
  background-color: #ebebfd;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #696969;
  background: #fff;
  border: none;
  border-radius: 10px;
  outline: 0;
  width: 100%;
  height: 60px;
  padding: 25px 30px 24px;
  font-family: Space Grotesk;
  font-size: 16px;
  font-weight: 400;
  line-height: 11px;
}

textarea.style-1, input[type="text"].style-1, input[type="password"].style-1, input[type="datetime"].style-1, input[type="datetime-local"].style-1, input[type="date"].style-1, input[type="month"].style-1, input[type="time"].style-1, input[type="week"].style-1, input[type="number"].style-1, input[type="email"].style-1, input[type="url"].style-1, input[type="search"].style-1, input[type="tel"].style-1, input[type="color"].style-1 {
  background: #ebebfd;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #6844ed;
  border-radius: 12px;
  outline: 0;
  padding: 24px 29px 23px;
}

textarea::placeholder, input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="date"]::placeholder, input[type="month"]::placeholder, input[type="time"]::placeholder, input[type="week"]::placeholder, input[type="number"]::placeholder, input[type="email"]::placeholder, input[type="url"]::placeholder, input[type="search"]::placeholder, input[type="tel"]::placeholder, input[type="color"]::placeholder {
  color: #696969;
  font-family: Space Grotesk;
  font-size: 16px;
  font-weight: 400;
  line-height: 11px;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  color: #fff;
  -webkit-appearance: none;
  background-color: #6844ed;
  border: none;
  border-radius: 14px;
  height: 51px;
  padding: 20px 48px 20px 30px;
  font-family: Space Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 11px;
  transition: all .3s;
  display: inline-block;
  position: relative;
}

button:after, input[type="button"]:after, input[type="reset"]:after, input[type="submit"]:after {
  content: "";
  font-family: icomoon;
  font-size: 11px;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
  border: none;
  outline: 0;
}

textarea {
  height: 130px;
}

button[type="submit"]:hover {
  color: #6844ed;
  background: #fff;
}

::-webkit-input-placeholder {
  color: #696969;
}

:-moz-placeholder-shown {
  color: #696969;
}

::-moz-placeholder {
  color: #696969;
  opacity: 1;
}

:-ms-placeholder-shown {
  color: #696969;
}

h1, h2, h3, h4, h5, h6 {
  color: #030014;
  text-rendering: optimizeLegibility;
  font-family: Space Grotesk, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 75px;
  line-height: 90px;
}

h2 {
  font-size: 48px;
  line-height: 57px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

h4 {
  font-size: 22px;
  line-height: 33px;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

h6 {
  font-size: 18px;
  line-height: 27px;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed !important;
}

.position-unset {
  position: unset;
}

.z-5 {
  z-index: 5;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.row-reverse {
  flex-direction: row-reverse;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

.gap40 {
  gap: 40px;
}

.gap30 {
  gap: 30px;
}

.gap25 {
  gap: 25px;
}

.gap20 {
  gap: 20px;
}

.gap10 {
  gap: 10px;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.tf-color {
  color: #6844ed !important;
}

.tf-color-green {
  color: #09b6a2 !important;
}

.tf-color-blue {
  color: #3468f0 !important;
}

.tf-color-yellow {
  color: #e6f85e !important;
}

.divider {
  background-color: #ffffff1a;
  width: 100%;
  height: 1px;
}

.pt-130 {
  padding-top: 130px;
}

.pb-130 {
  padding-bottom: 130px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.ml-35 {
  margin-left: 35px;
}

.ml--3 {
  margin-left: -3px;
}

.fl-item-1, .fl-item {
  display: none;
}

.capitalize {
  text-transform: capitalize;
}

.italic {
  font-style: italic;
}

.e-resize {
  cursor: e-resize;
}

.home2 {
  background: #1d1f21;
}

.home4 {
  background: #11121c;
}

#wrapper {
  max-width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

a {
  color: #696969;
  -o-transition: all .3s ease-in-out;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

a:hover, a:focus {
  color: #6844ed;
  -o-transition: all .3s ease-in-out;
  outline: 0;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

a:focus {
  color: #fff;
}

.tf-button {
  color: #fff;
  text-transform: capitalize;
  -o-transition: all .3s ease;
  background-color: #6844ed;
  border: none;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: max-content;
  height: 51px;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 11px;
  transition: all .3s;
  display: flex;
  position: relative;
}

.tf-button:hover, .tf-button.active {
  color: #6844ed;
  background-color: #fff;
}

.tf-button i {
  font-size: 12px;
}

.tf-button.style-1 {
  color: #030014;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 19px 29px;
}

.tf-button.style-1.active, .tf-button.style-1:hover {
  color: #fff;
  background-color: #0000;
  border: 1px solid #fff;
}

.tf-button.style-1.active:hover {
  color: #030014;
  background-color: #fff;
}

.tf-button.type-1:hover, .tf-button.type-2 {
  color: #fff;
  background-color: #030014;
}

.tf-button.type-2:hover {
  color: #fff;
  background-color: #6844ed;
}

.tf-button.type-3 {
  color: #fff;
  background-color: #030014;
}

.tf-button.type-3:hover {
  color: #030014;
  background-color: #fff;
}

.tf-button.h45 {
  height: 45px;
  padding: 17px 30px;
}

.tf-button.h40 {
  height: 40px;
  padding: 15px 25px 14px;
  font-size: 14px;
}

.tf-button.style-2 {
  color: #fff;
  background: linear-gradient(145deg, #09b6a2 0%, #55eddb 100%);
  border: 1px solid #55eddb;
  padding: 20px 29px;
}

.tf-button.style-2:hover {
  background: linear-gradient(315deg, #09b6a2 0%, #55eddb 100%);
  border: 1px solid #fff3;
}

.tf-button.style-3 {
  color: #fff;
  background: none;
  border: 1.5px solid #ffffff26;
}

.tf-button.style-3:hover {
  background: linear-gradient(145deg, #09b6a2 0%, #55eddb 100%);
}

.tf-button-default {
  color: #6844ed;
  align-items: center;
  gap: 7px;
  font-size: 16px;
  line-height: 11px;
  display: flex;
}

.tf-button-default:hover {
  color: #030014;
}

.tf-button-default i {
  font-size: 11px;
}

.tf-button.style-green {
  background-color: #09b6a2;
}

.tf-button.style-green:hover {
  color: #09b6a2;
  background-color: #fff;
}

.tf-button.style-blue {
  background-color: #3468f0;
  border: 1px solid #3468f0;
  padding: 17px 29px;
}

.tf-button.style-blue:hover {
  color: #3468f0;
  background-color: #fff;
}

.tf-button.style-yellow {
  color: #030014;
  background-color: #e6f85e;
  border: 1px solid #e6f85e;
  padding: 17px 29px;
}

.tf-button.style-yellow:hover {
  color: #e6f85e;
  background-color: #030014;
}

.header {
  z-index: 100;
  background: none;
  border: none;
  width: 100%;
  height: 105px;
  margin-bottom: -105px;
  position: relative;
  padding-right: 0 !important;
}

.header-inner {
  justify-content: space-between;
  align-items: center;
  padding: 29px 52px 31px 70px;
  display: flex;
}

#site-logo {
  margin-right: 101px;
}

.main-nav {
  align-items: center;
  gap: 30px;
  display: flex;
}

.menu-primary-menu {
  gap: 46px;
  display: flex;
}

.menu-primary-menu li {
  position: relative;
}

.menu-primary-menu li a {
  color: #fff;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 600;
  line-height: 45px;
  position: relative;
}

.menu-primary-menu li.menu-item-has-children > a:after {
  content: "";
  font-family: icomoon;
  font-size: 18px;
  line-height: 13px;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}

.menu-primary-menu > li > a:before {
  content: "";
  -o-transition: all .3s ease-in-out;
  background-color: #fff;
  width: 0;
  height: 2px;
  transition: all .3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
}

.menu-primary-menu li:hover a:before, .menu-primary-menu li.current-menu-item a:before {
  width: 100%;
  left: 0;
  right: auto;
}

.menu-primary-menu li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  top: 100%;
}

.menu-primary-menu .sub-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -o-transition: all .3s ease-in-out;
  background: #fff;
  border-radius: 8px;
  min-width: 220px;
  transition: all .3s ease-in-out;
  position: absolute;
  top: 110%;
  left: 0%;
  box-shadow: 0 0 5px #6844ed26;
}

.menu-primary-menu .sub-menu li {
  border-bottom: 1px solid #f1f1f1;
  padding: 7px 20px;
}

.menu-primary-menu .sub-menu li:last-child {
  border-bottom: none;
}

.menu-primary-menu .sub-menu li a {
  color: #121212;
  font-size: 16px;
}

.menu-primary-menu .sub-menu li.current-item a, .menu-primary-menu .sub-menu li a:hover {
  color: #6844ed;
}

.header-search .show-search i:before {
  color: #fff;
  -o-transition: all .3s ease-in-out;
  font-size: 18px;
  transition: all .3s ease-in-out;
}

.header-search .top-search {
  -o-transition: all .3s ease-in-out;
  min-width: 240px;
  transition: all .3s ease-in-out;
  display: none;
  position: absolute;
  top: 32px;
  left: 0;
}

.header-search .top-search.active {
  display: block;
}

.search-form .icon-search {
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 50%;
  right: 23px;
  transform: translateY(-50%);
}

.header-right {
  align-items: center;
  gap: 40px;
  display: flex;
}

.header-right .sign-in {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-decoration-line: underline;
}

.mobile-button {
  cursor: pointer;
  -o-transition: all .3s ease;
  background-color: #0000;
  width: 26px;
  height: 26px;
  transition: all .3s;
  display: none;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-20px);
}

.mobile-button:before, .mobile-button:after, .mobile-button span {
  background-color: #fff;
  transition: all .3s;
}

.mobile-button:before, .mobile-button:after {
  content: "";
  transform-origin: 50%;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 0;
}

.mobile-button span {
  text-indent: 200%;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 0;
  overflow: hidden;
}

.mobile-button:before {
  transform: translate3d(0, -7px, 0);
}

.mobile-button:after {
  transform: translate3d(0, 7px, 0);
}

.header.header-blue .mobile-button:before, .header.header-blue .mobile-button:after, .header.header-blue .mobile-button span {
  background-color: #030014;
}

.mobile-nav-wrap .overlay-mobile-nav {
  cursor: url("../media/close.2d1e7331.svg"), auto;
  content: "";
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -o-transition: all .3s ease;
  background: linear-gradient(0deg, #000c 0% 100%);
  width: 100%;
  height: 100%;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
}

.mobile-nav-wrap.active .overlay-mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-wrap.active .overlay-mobile-nav i {
  color: #fff;
  margin-right: 20px;
  font-size: 25px;
}

.mobile-nav-wrap .inner-mobile-nav {
  z-index: 999999;
  -o-transition: all .5s ease;
  background-color: #161616;
  width: 320px;
  height: 100%;
  transition: all .5s;
  position: fixed;
  top: 0;
  left: -340px;
  overflow-y: auto;
}

.mobile-nav-wrap .inner-mobile-nav::-webkit-scrollbar {
  width: 0;
}

.mobile-nav-wrap.active .inner-mobile-nav {
  left: 0;
}

.inner-mobile-nav {
  padding: 30px;
  position: relative;
}

.inner-mobile-nav .mobile-nav-close {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 30px;
}

#menu-mobile-menu {
  border-top: 1px solid #ffffff14;
  flex-direction: column;
  margin-top: 15px;
  padding-top: 30px;
  display: flex;
}

#menu-mobile-menu > li {
  cursor: pointer;
  border-bottom: 1px solid #ffffff14;
  padding: 15px 0;
  position: relative;
}

#menu-mobile-menu > li .sub-menu-mobile li:last-child, #menu-mobile-menu > li:last-child {
  border: none;
}

#menu-mobile-menu li a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

#menu-mobile-menu li.current-menu-item > a, #menu-mobile-menu li a:hover, #menu-mobile-menu li.current-item a {
  color: #6844ed;
}

#menu-mobile-menu li.menu-item-has-children-mobile > a:after {
  content: "";
  -o-transition: all .3s ease-in-out;
  font-family: icomoon;
  font-weight: 300;
  line-height: 16px;
  transition: all .3s ease-in-out;
  position: absolute;
  top: 17px;
  right: 0;
}

#menu-mobile-menu > li.active a:after {
  transform: rotate(180deg);
}

#menu-mobile-menu > li .sub-menu-mobile {
  text-align: start;
  border-radius: 8px;
  margin-top: 10px;
  display: none;
  overflow: hidden;
}

#menu-mobile-menu > li .sub-menu-mobile li {
  cursor: pointer;
  border-bottom: 1px solid #ffffff14;
  padding: 15px;
}

#menu-mobile-menu > li .sub-menu-mobile a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.header.is-fixed {
  z-index: 9999;
  opacity: 1;
  -o-transition: all .5s ease;
  background: #161616;
  border: none;
  width: 100%;
  padding: 0;
  transition: all .5s;
  position: fixed;
  top: -100%;
  left: 0;
  box-shadow: 0 3px 9px #0000000d;
}

.header.is-fixed.is-small {
  height: 105px;
  top: 0;
}

.header-green .header-inner {
  justify-content: unset;
  padding-left: 0;
  padding-right: 0;
}

.header-green #site-logo {
  margin-right: 0;
}

.header-green .main-nav {
  flex-grow: 1;
  justify-content: end;
  padding-right: 50px;
}

.header-green .menu-primary-menu > li.current-menu-item > a, .header-green .menu-primary-menu .sub-menu li.current-item a, .header-green .menu-primary-menu .sub-menu li a:hover, .header-green .menu-primary-menu > li:hover > a {
  color: #09b6a2;
}

.header-green .menu-primary-menu > li.current-menu-item > a:before, .header-green .menu-primary-menu > li:hover > a:before {
  background: #09b6a2;
}

.header-green .menu-primary-menu li .sub-menu {
  background-color: #030014;
}

.header-green .menu-primary-menu .sub-menu li a {
  color: #fff;
}

.header-green .menu-primary-menu .sub-menu li {
  border-bottom: 1px solid #f1f1f166;
}

.header-green .menu-primary-menu .sub-menu li:last-child {
  border: none;
}

.header.header-blue {
  margin-bottom: 0;
}

.header.header-blue #site-logo {
  margin-right: 98px;
}

.header.header-blue .header-inner {
  justify-content: start;
}

.header.header-blue .main-nav {
  flex-grow: 1;
}

.header.header-blue .header-search .show-search i:before, .header.header-blue .header-right .sign-in, .header.header-blue .menu-primary-menu li a {
  color: #030014;
}

.header.header-blue .header-search .show-search:hover i:before, .header.header-blue .menu-primary-menu .sub-menu li:hover a, .header.header-blue .menu-primary-menu .sub-menu li.current-item a, .header.header-blue .menu-primary-menu > li.current-menu-item > a, .header.header-blue .menu-primary-menu > li:hover > a, .header.header-blue .header-right .sign-in:hover {
  color: #3468f0;
}

.header.header-blue .menu-primary-menu > li > a:before {
  background-color: #3468f0;
}

.header.header-blue.is-fixed {
  background-color: #fff;
}

.header-yellow {
  background: #171825;
  margin-bottom: 0;
}

.header-yellow .header-inner {
  justify-content: unset;
  padding-left: 0;
  padding-right: 0;
}

.header.header-yellow .header-search .show-search:hover i:before, .header.header-yellow .menu-primary-menu .sub-menu li:hover a, .header.header-yellow .menu-primary-menu .sub-menu li.current-item a, .header.header-yellow .menu-primary-menu > li.current-menu-item > a, .header.header-yellow .menu-primary-menu > li:hover > a, .header.header-yellow .header-right .sign-in:hover {
  color: #e6f85e;
}

.header.header-yellow .menu-primary-menu > li > a:before {
  background-color: #e6f85e;
}

#footer {
  background: #0c091d url("../media/line.393a256d.png");
  position: relative;
}

#logo-footer {
  min-width: 166px;
}

.footer-top {
  justify-content: space-between;
  align-items: center;
  padding-top: 218px;
  padding-bottom: 80px;
  display: flex;
}

.avatar-wrapper {
  align-items: center;
  gap: 20px 54px;
  display: flex;
}

.avatar-wrapper p {
  color: #fff;
  letter-spacing: -.6px;
  font-size: 20px;
  font-weight: 500;
  line-height: 14px;
}

.avatar-wrapper p span {
  font-family: Playfair Display;
  font-style: italic;
}

.wg-list-avatar a {
  margin-right: -13px;
}

.wg-list-avatar a:last-child {
  margin-right: 3px;
}

.wg-list-avatar a img {
  border: 3px solid var(--color-white, #fff);
  border-radius: 50px;
  width: 50px;
  box-shadow: 0 20px 40px #0003;
}

.footer-title {
  color: #fff;
  letter-spacing: -.6px;
  margin-bottom: 36px;
  font-family: Space Grotesk;
  font-size: 20px;
  font-weight: 600;
  line-height: 14px;
}

#footer p.text {
  color: #fff;
  margin-top: -4px;
  margin-bottom: 21px;
  font-family: Space Grotesk;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

ul.wg-social {
  gap: 10px;
  display: flex;
}

ul.wg-social li a {
  color: #6844ed;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 15px;
  display: flex;
}

ul.wg-social li a:hover {
  color: #fff;
  background-color: #6844ed;
}

ul.wg-menu li {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

ul.wg-menu li:last-child {
  margin-bottom: 0;
}

ul.wg-menu li a {
  color: #fff;
  position: relative;
}

ul.wg-menu li a:before {
  content: "";
  -o-transition: all .3s ease-in-out;
  background-color: #6844ed;
  width: 0;
  height: 2px;
  transition: all .3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
}

ul.wg-menu li a:hover:before {
  width: 100%;
  left: 0;
  right: auto;
}

ul.wg-menu li a:hover {
  color: #6844ed;
}

.footer-bottom {
  border-top: 2px solid #ffffff26;
  justify-content: space-between;
  margin-top: 75px;
  padding-top: 41px;
  padding-bottom: 35px;
  display: flex;
}

.footer-bottom p a:hover {
  color: #cbed44 !important;
}

.footer-bottom ul {
  gap: 41px;
  display: flex;
}

.footer-bottom ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.footer-bottom ul li a:hover {
  color: #6844ed;
}

#footer .item1 {
  animation: 5s linear infinite to-bottom;
  position: absolute;
  top: 249px;
  left: 72px;
}

#footer .item2 {
  filter: blur(40px);
  background: #61ff00;
  width: 160px;
  height: 29px;
  position: absolute;
  bottom: 122px;
  left: -59px;
  transform: rotate(-20.673deg);
}

#footer .item3 {
  filter: blur(50px);
  background: #00fff0;
  border-radius: 50%;
  width: 102px;
  height: 102px;
  position: absolute;
  bottom: -86px;
  left: 808px;
}

#footer .item4 {
  filter: blur(40px);
  background: #ff00e5;
  width: 160px;
  height: 29px;
  position: absolute;
  top: 101px;
  right: 438px;
  transform: rotate(-20.673deg);
}

#footer .item5 {
  filter: blur(50px);
  background: #ece30a;
  border-radius: 50%;
  width: 223px;
  height: 223px;
  position: absolute;
  bottom: 191px;
  right: -189px;
}

#footer.style-1 {
  background-color: #111112;
  padding-top: 269px;
  padding-left: 17px;
  overflow: hidden;
}

#footer.style-1 > .item-1 {
  content: "";
  opacity: .6;
  filter: blur(150px);
  background: linear-gradient(#09b6a2 0%, #09b6a200 100%);
  width: 430px;
  height: 390px;
  position: absolute;
  top: -177px;
  left: -108px;
  transform: rotate(-105deg);
}

#footer.style-1 > .item-2 {
  content: "";
  opacity: .6;
  filter: blur(150px);
  background: linear-gradient(#09b6a2 0%, #09b6a200 100%);
  width: 370px;
  height: 336px;
  position: absolute;
  bottom: 46px;
  right: -110px;
}

#footer.style-1 .footer-bottom {
  margin-top: 95px;
  padding-top: 41px;
}

#footer.style-1 .footer-bottom ul li a:hover, #footer.style-1 ul.wg-menu li a:hover {
  color: #09b6a2;
}

#footer.style-1 ul.wg-menu li a:before {
  background-color: #09b6a2;
}

#footer.style-1 .list-1 {
  padding-left: 43px;
}

#footer.style-1 .list-2 {
  padding-left: 71px;
}

#footer.style-1 .list-3 {
  padding-left: 99px;
}

#footer.style-1 .list-4 {
  padding-left: 17px;
}

#footer.style-1 form button {
  background: linear-gradient(145deg, #09b6a2 0%, #55eddb 100%);
}

#footer.style-1 form button:hover {
  color: #030014;
}

#footer.style-2 {
  background-color: #f2f8fd;
  background-image: url("../media/line-1.937c851e.png");
  padding-top: 80px;
}

#footer.style-2 .content p {
  margin-top: 23px;
  margin-bottom: 27px;
}

#footer.style-2 .footer-bottom {
  border-top: 1px solid #3468f033;
  margin-top: 80px;
  padding-top: 31px;
}

#footer.style-2 .footer-bottom p {
  color: #696969;
}

#footer.style-2 .footer-bottom ul {
  gap: 29px;
}

#footer.style-2 .footer-bottom ul li a {
  color: #696969;
}

.box-email {
  background: #fff;
  border: 1px solid #3468f04d;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 277px;
  height: 55px;
  display: flex;
  box-shadow: 0 10px 60px #3468f026;
}

.box-email .icon-mail {
  font-size: 20px;
}

.box-email a {
  color: #030014;
  letter-spacing: -.54px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.box-subscribe {
  background: #fff;
  border-radius: 20px;
  padding: 32px 60px 40px;
}

.box-subscribe h4 {
  color: #030014;
  letter-spacing: -.66px;
  margin-bottom: -1px;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
}

.box-subscribe h4 span {
  color: #3468f0;
  letter-spacing: -.66px;
  font-family: Playfair Display;
  font-size: 22px;
  font-style: italic;
  font-weight: 700;
  line-height: 33px;
}

.box-subscribe form {
  align-items: center;
  gap: 20px;
  display: flex;
}

.box-subscribe form input {
  color: #030014;
  background: #f2f8fd;
  border: 1px solid #3468f0;
  border-radius: 12px;
  width: 100%;
  height: 51px;
  padding: 20px 30px 20px 24px;
}

.box-subscribe form input:focus {
  border: 1px solid #3468f0;
  padding: 20px 30px 20px 24px;
}

.box-subscribe form input::placeholder {
  color: #030014;
}

.box-subscribe form button {
  background: #3468f0;
  border: 1px solid #3468f0;
  padding: 19px 47px 19px 29px;
}

.box-subscribe form button:hover {
  color: #3468f0;
}

#footer.style-1.type-yellow {
  background: #111112;
  padding-top: 80px;
  padding-left: 20px;
}

#footer.style-1.type-yellow > .item-2, #footer.style-1.type-yellow > .item-1 {
  background: linear-gradient(#e7f85e 0%, #e7f85e00 100%);
}

#footer.style-1.type-yellow form button {
  color: #030014;
  background: #e6f85e;
}

#footer.style-1.type-yellow form button:hover {
  color: #e6f85e;
  background-color: #030014;
}

#footer.style-1.type-yellow .footer-bottom ul li a:hover, #footer.style-1.type-yellow ul.wg-menu li a:hover {
  color: #e6f85e;
}

#footer.style-1.type-yellow ul.wg-menu li a:before {
  background-color: #e6f85e;
}

#footer.style-1.type-yellow form input:focus {
  border-color: #e6f85e;
}

.cta {
  z-index: 10;
  margin-bottom: -138px;
  position: relative;
}

.cta.style-1 {
  margin-bottom: -168px;
}

.cta-wrapper {
  background: #6844ed;
  border-radius: 30px;
  justify-content: space-between;
  padding: 80px 80px 68px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.cta-wrapper .ellipse {
  z-index: 0;
  background-color: #ffffff0d;
  border: 1px solid #ffffff1a;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 55%);
}

.cta-wrapper .ellipse.item1 {
  width: 200px;
  height: 200px;
  animation: 3s linear infinite ellipse1;
}

.cta-wrapper .ellipse.item2 {
  width: 290px;
  height: 290px;
  animation: 3s linear .5s infinite ellipse1;
}

.cta-wrapper .ellipse.item3 {
  width: 394px;
  height: 394px;
  animation: 3s linear 1s infinite ellipse1;
}

.cta-wrapper .ellipse.item4 {
  width: 496px;
  height: 496px;
  animation: 3s linear 1.5s infinite ellipse1;
}

.cta-title h6 {
  color: #fff;
  letter-spacing: -.54px;
  margin-bottom: 19px;
  line-height: 13px;
}

.cta-title h2 {
  color: #fff;
  letter-spacing: -1.44px;
  line-height: 57px;
}

.cta-title h2 span {
  font-family: Playfair Display;
  font-style: italic;
  line-height: 51px;
}

.cta-content {
  margin-right: 2px;
}

.cta-content p {
  color: #fff;
  margin-top: -6px;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 29px;
}

.cta-wrapper-1 {
  text-align: center;
  background: linear-gradient(145deg, #09b6a2 0%, #55eddb 100%);
  border-radius: 30px;
  padding: 89px 0 99px;
  position: relative;
}

.cta-wrapper-1:before {
  content: "";
  background-image: url("../media/dot-1.6d40134d.png");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cta-wrapper-1 h2 {
  color: #1d1f21;
  letter-spacing: -1.44px;
  margin-bottom: 16px;
}

.cta-wrapper-1 p {
  color: #1d1f21;
  margin-bottom: 31px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
}

.cta-wrapper-1 .item1 {
  border: 2px dashed #fff;
  border-radius: 50%;
  width: 225px;
  height: 225px;
  animation: 20s linear infinite rotate360;
  position: absolute;
  top: 75px;
  left: 60px;
}

.cta-wrapper-1 .item2 {
  border-radius: 15px;
  position: absolute;
  top: 130px;
  left: 94px;
  box-shadow: 0 20px 40px #09b6a21a;
}

.cta-wrapper-1 .item3 {
  border: 2px dashed #fff;
  border-radius: 50%;
  width: 275px;
  height: 275px;
  animation: 20s linear infinite rotate360;
  position: absolute;
  top: 70px;
  right: 60px;
}

.cta-wrapper-1 .item4 {
  border-radius: 16px;
  position: absolute;
  top: 143px;
  right: 106px;
  box-shadow: 0 20px 40px #09b6a21a;
}

.cta.type-1 {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.cta.type-1 .cta-wrapper {
  text-align: center;
  background: none;
  padding-top: 115px;
  padding-bottom: 130px;
  display: block;
}

.cta.type-1 .cta-wrapper a {
  margin: 38px auto auto;
}

.cta.type-1 .cta-wrapper .ellipse.item1 {
  background: #212329;
  border: 1px solid #ffffff0d;
  width: 480.911px;
  height: 480.911px;
}

.cta.type-1 .cta-wrapper .ellipse.item2 {
  background: #1b1d23;
  border: 1px solid #ffffff0d;
  border-radius: 650.307px;
  width: 650.307px;
  height: 650.307px;
}

.cta.type-1 .cta-wrapper .ellipse.item3 {
  background: #17181e;
  border: 1px solid #ffffff0d;
  border-radius: 822.573px;
  width: 822.573px;
  height: 822.573px;
}

.cta.type-1 .cta-wrapper .ellipse.item4 {
  background: #13141d;
  border: 1px solid #ffffff0d;
  border-radius: 969px;
  width: 969px;
  height: 969px;
}

.cta.type-1 > img {
  border: 3px solid var(--color-white, #fff);
  z-index: 5;
  border-radius: 50px;
  width: 50px;
  position: absolute;
  box-shadow: 0 20px 40px #0003;
}

.cta.type-1 > .img1 {
  animation: 5s linear infinite to-bottom;
  top: 142px;
  left: 146px;
}

.cta.type-1 > .img2 {
  animation: 5s linear infinite to-bottom;
  bottom: 74px;
  left: 248px;
}

.cta.type-1 > .img3 {
  animation: 5s linear infinite to-bottom;
  bottom: 85px;
  right: 256px;
}

.cta.type-1 > .img4 {
  animation: 5s linear infinite to-bottom;
  top: 95px;
  right: 160px;
}

.cta .cta-title {
  z-index: 5;
  position: relative;
}

.flat-title-page {
  background: #030014;
  padding-top: 220px;
  padding-bottom: 150px;
  position: relative;
  overflow: hidden;
}

.flat-title-page .item1 {
  opacity: .8;
  filter: blur(150px);
  background: linear-gradient(#09b6a2 0%, #09b6a200 100%);
  width: 565px;
  height: 514px;
  position: absolute;
  top: 0;
  right: 0;
}

.flat-title-page .item2 {
  filter: blur(50px);
  background: #09b6a266;
  border-radius: 50%;
  width: 102px;
  height: 102px;
  position: absolute;
  bottom: -86px;
  left: 668px;
}

.flat-title-page .item3 {
  filter: blur(40px);
  background: #09b6a299;
  width: 160px;
  height: 29px;
  position: absolute;
  top: -27px;
  right: 438px;
  transform: rotate(-20.673deg);
}

.flat-title-page .item4 {
  filter: blur(50px);
  background: #09b6a24d;
  border-radius: 50%;
  width: 223px;
  height: 223px;
  position: absolute;
  bottom: -149px;
  right: -129px;
}

.flat-title-page:before {
  content: "";
  background: url("../media/line.393a256d.png") center / cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.flat-title-page .heading {
  color: #fff;
  letter-spacing: -1.95px;
  text-align: center;
  margin-bottom: 50px;
  font-size: 65px;
  font-weight: 700;
  line-height: 46px;
}

.flat-title-page .heading span {
  color: #09b6a2;
}

.breadcrumbs {
  justify-content: center;
  align-items: center;
  gap: 58px;
  display: flex;
}

.breadcrumbs li:before {
  color: #fff;
  font-size: 29px;
  position: absolute;
  top: 50%;
  right: -46px;
  transform: translateY(-50%);
}

.breadcrumbs li a {
  color: #fff;
  letter-spacing: -.72px;
  font-family: Space Grotesk;
  font-size: 24px;
  font-weight: 700;
  line-height: 17px;
}

.breadcrumbs li.active a {
  color: #cbed44;
  text-decoration-line: underline;
}

.flat-title-page.shop .heading {
  margin-bottom: 44px;
  line-height: 57px;
}

.related-products {
  padding-bottom: 80px;
}

.related-products .title {
  color: #030014;
  letter-spacing: -.9px;
  text-align: center;
  margin-bottom: 42px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.preload-container {
  z-index: 2147483647;
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.preload-container .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preload-container .bar {
  transform-origin: bottom;
  background: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 10px;
  height: 70px;
  animation: 1.2s linear infinite loader;
  display: inline-block;
}

.page-green .preload-container .bar {
  animation: 1.2s linear infinite loader1;
}

.page-blue .preload-container .bar {
  animation: 1.2s linear infinite loader2;
}

.page-yellow .preload-container .bar {
  animation: 1.2s linear infinite loader3;
}

.preload-container .bar1 {
  animation-delay: .1s !important;
}

.preload-container .bar2 {
  animation-delay: .2s !important;
}

.preload-container .bar3 {
  animation-delay: .3s !important;
}

.preload-container .bar4 {
  animation-delay: .4s !important;
}

.preload-container .bar5 {
  animation-delay: .5s !important;
}

.preload-container .bar6 {
  animation-delay: .6s !important;
}

.preload-container .bar7 {
  animation-delay: .7s !important;
}

.preload-container .bar8 {
  animation-delay: .8s !important;
}

.progress-wrap {
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -o-transition: all .4s linear;
  background: #6844ed;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 10px;
  transition: all .4s linear;
  display: block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transform: translateY(20px);
  box-shadow: inset 0 0 0 2px #82828233;
}

.progress-wrap:after {
  content: "";
  text-align: center;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  -o-transition: all .4s linear;
  width: 50px;
  height: 50px;
  font-family: icomoon;
  font-size: 16px;
  font-weight: 900;
  line-height: 50px;
  transition: all .4s linear;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-wrap:hover:after {
  animation: 1s linear infinite alternate tf-buzz-out;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  box-sizing: border-box;
  stroke: #fff;
  stroke-width: 5px;
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: linear;
}

.page-green .progress-wrap {
  background: #09b6a2;
}

.page-blue .progress-wrap {
  background: #3468f0;
}

.page-yellow .progress-wrap {
  background: #e6f85e;
}

.page-yellow .progress-wrap:after {
  color: #030014;
}

.page-yellow .progress-wrap svg.progress-circle path {
  stroke: #030014;
}

.tf-mouse {
  pointer-events: none;
  visibility: hidden;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateZ(0);
}

.tf-mouse-inner {
  z-index: 10000;
  background-color: #6844ed;
  width: 8px;
  height: 8px;
  margin-top: -5px;
  margin-left: -5px;
  transition: width .5s ease-in-out, height .5s ease-in-out, margin .5s ease-in-out, opacity .5s ease-in-out;
}

.tf-mouse-inner.mouse-hover {
  opacity: .3;
  background-color: #6844ed;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
}

.tf-mouse-outer {
  box-sizing: border-box;
  z-index: 10000;
  opacity: .5;
  border: 2px solid #6844ed;
  width: 40px;
  height: 40px;
  margin-top: -22px;
  margin-left: -22px;
  transition: all 50ms ease-out;
}

.tf-mouse-outer.mouse-hover {
  opacity: 0;
}

.page-green .tf-mouse-inner {
  background-color: #09b6a2;
}

.page-green .tf-mouse-outer {
  border-color: #09b6a2;
}

.page-blue .tf-mouse-inner {
  background-color: #3468f0;
}

.page-blue .tf-mouse-outer {
  border-color: #3468f0;
}

.page-yellow .tf-mouse-inner {
  background-color: #e6f85e;
}

.page-yellow .tf-mouse-outer {
  border-color: #e6f85e;
}

/*# sourceMappingURL=public_assets_css_style_css_bad6b30c._.single.css.map*/